SECRET_KEY=cambia-esta-clave-secreta-por-una-larga-y-aleatoria
ACCESS_TOKEN_EXPIRE_MINUTES=480

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_USE_TLS=true

INITIAL_ADMIN_USER=Admin
INITIAL_ADMIN_PASSWORD=Admin
